<html>
    <body>
        <h2>HTML Forms</h2>
        <form action="/submit" method="post">
            <lable for = 'Science'>Science:</lable><br>
            <input type = 'text' id = 'Science' name = 'Science' value = 0><br><br>
            <lable for = 'Maths'>Maths:</lable><br>
            <input type = 'text' id = 'Maths' name = 'Maths' value = 0><br><br>
            <lable for = 'C Prog'>C Prog:</lable><br>
            <input type = 'text' id = 'C Prog' name = 'C Prog' value = 0><br><br>
            <lable for = 'DataScience'>DataScience:</lable><br>
            <input type = 'text' id = 'DataScience' name = 'DataScience' value = 0><br>
            <input type="submit" value="submit">
        </form>
        <p>If you click the "Submit" button, the form data will be sent to a page called "/submit".</p>
    </body>
</html>